<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.SONATYPE_ID}</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>
        <server>
            <id>${env.GPG_KEYNAME}</id>
            <executable>${env.GPG_EXECUTABLE}</executable>
            <passphrase>${env.GPG_PASSPHRASE}</passphrase>
            <homedir>${env.GPG_DIR}</homedir>
        </server>
    </servers>
    <profiles>
        <profile>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.keyname>${env.GPG_KEYNAME}</gpg.keyname>>
            </properties>
        </profile>
    </profiles>
</settings>
