<settings>
    <servers>
        <server>
            <id>maven.salecycle.com</id>
            <username>\${env.AWS_ACCESS_KEY_ID}</username>
            <password>\${env.AWS_SECRET_ACCESS_KEY}</password>
            <filePermissions>Private</filePermissions>
        </server>
    </servers>
</settings>